*.gem
.bundle/
*.rbc
log/*.log
.bundle
pkg/
.config
spec/dummy/db/*.sqlite3
.yardoc
spec/dummy/log/*.log
Gemfile.lock
spec/dummy/tmp/
InstalledFiles
spec/dummy/.sass-cache
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
